.table-danger{
    background-color:#FF3333;
}

.bg-warning {
    background-color:#FFAA33;
}

.table-success{
    background-color:#77FFEE;
}

td { 
    border: 1px solid #333333!important;
    padding: 1px!important;
    font-size: 0.2em;
    height: 0.1em;
  } 

th { 
    border: 1px solid #333333!important;
    font-size: 0.2em;
}


.table-bordered {
    border: 1px solid #dee2e6;
    text-align:center;
}

.table-bordered td, .table-bordered th {
    padding: 2px;
}

#calculation{
    font-size: 5pt;
}

#tatletable{
    width: 100%;
    height: 10vh;
}
#tatletable td{
    font-size: 1em;

}

.box{
    position: relative;
}

#sign{
    position:absolute;
    bottom:0;
    right:0;
}
